body {
    margin: 0 auto;
}

.mainContainer {
    text-align: center;
}

.navWrapper {
    background-color: #F2F2F2;
    color: black;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hearLogo {
    background: url("imageFolder/hearLogo.svg");
    height: 37.85px;
    background-repeat: no-repeat;
    order: 1;
    width: 182px;
    margin-top: 17px;
    margin-right: 110px;
    margin-bottom: 19px;
    margin-left: inherit;
}

.rightLogos {
    order: 2;
}

.images,
.halfs {
    display: inline-block;
}

.images {
    margin-right: 13.16px;
}

.forbesLogo {
    background: url("imageFolder/forbes.svg");
    background-repeat: no-repeat;
    width: 73.09px;
    height: 19px;
    margin-top: 26.23px;
    vertical-align: super;
}

.biLogo {
    background: url("imageFolder/business-insider.svg");
    background-repeat: no-repeat;
    width: 83.32px;
    height: 40.2px;
    margin-top: 16px;
    vertical-align: top;
}

.sirusLogo {
    background: url("imageFolder/SiriusLogo.svg");
    background-repeat: no-repeat;
    width: 129px;
    height: 27.04px;
    margin-top: 22.58px;
}

.webmdLogo {
    background: url("imageFolder/webmd.svg");
    background-repeat: no-repeat;
    width: 85.94px;
    height: 18.66px;
    vertical-align: super;
}

.heroImage {
    background: url("imageFolder/Hero.svg");
    background-repeat: no-repeat;
    height: 100%;
    min-height: 498.81px;
    margin: 55px auto 0;
    max-width: 711px;
}

.heroTextWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertImage {
    background: url("imageFolder/verticalRectangle.svg");
    background-repeat: no-repeat;
    width: 107px;
    height: 268px;
    order: 1;
    position: relative;
    margin-right: 47%;
}

.heroText {
    font-size: 56px;
    font-weight: 700;
    line-height: 78px;
    font-family: sans-serif;
    text-transform: capitalize;
    padding: 0 25% 0;
    text-align: left;
    order: 2;
    position: absolute;
    margin-top: 19px;
}

.textDecor {
    text-decoration: underline;
    text-decoration-color: #FFAE0D;
    text-decoration-thickness: from-font;
}

.middleWrapper {
    padding: 0 25%;
    margin-top: 45px;
    text-align: left;
}

.content {
    font-family: sans-serif;
}

.pageContent {
    line-height: 36px;
}

.middleContent {
    font-size: 21px;
}

.bottomWrapper {
    background-color: #F0F0F0;
    max-width: 711px;
    height: 513px;
    margin: 45px auto 55px;
}

.boldContent {
    font-weight: 700;
}

.bottomContent {
    font-size: 24px;
    padding: 45px 21% 0;
    margin: 0 0 38px 0;
}

.questionBtns {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    display: inline-grid;
    margin: 0;
    padding: 14px 17px 15px 19px;
}

.topPart {
    margin-bottom: 33px;
}

.halfs {
    width: 199px;
    background-color: white;
}

.leftHalf {
    margin-right: 20px;
}

input {
    vertical-align: -webkit-baseline-middle;
}

.nextBtn {
    background-color: #FFAE0D;
    color: white;
    width: 190px;
    height: 44px;
    border: none;
    margin-top: 92px;
    font-size: 21px;
}

